.App {
    text-align: center;
   
  }
  
  .eye_button{
    font-size: 21px;
    z-index: 9;
    float: right;
    margin: -48px 40px 0 0;
    padding: 10px 10px 17px 10px;
    background: #F7F8FA;
    border-radius: 0 8px 8px 0;
    color: #3800B0;
    cursor: pointer;
  }
  .eyes_button{
    font-size: 21px;
    z-index: 9;
    float: left;
    margin: 12px 0px 0px -80px;
    padding: 10px 10px 17px 10px;
    background: #F7F8FA;
    border-radius: 0 8px 8px 0;
    color: #3800B0;
    cursor: pointer;
  }
  #number::placeholder{
    
    color:#8E93AF;
  }
  #calendar::placeholder{
    
    color:#8E93AF;
  }
  .otp_input_div{
    width: 400px;
    float: left;
    margin: 0 40px 40px 40px;
    height: 60px;
  }
  .otp_input{
    width: 100px;
  }
  .otp_input input{
    height: 56px;
    float: left;
    font-size: 91px;
    border: none;
    background-color:#F7F8FA;
    border-radius: 8px  ;
    font-family: monospace;
  
  }
  .otp_input input:hover{
    border: 1px solid #8866D0;
  }
  .otp_input input:focus{
    outline: 1px solid #8866D0;
  }
  .fourth-x{
    font-size: 20px;
    display: block;
    float: right;
    padding-left: 5px;
  }
  .upload_fiveth{
    width: 21px;
    height: 21px;
    margin: 0;
    margin: 51px 189px 0 189px;
    color: #2D008D;
    
  }
  
  .trash{
    font-size: 10px;
    padding: 3px;
    border-radius: 50%;
    background: #F7F8FA;
    margin: -2px 0 0 -389px;
    z-index: 9;
    color: #3800B0;
  }
  .trash2{
    font-size: 10px;
    padding: 3px;
    border-radius: 50%;
    background: #F7F8FA;
    margin: -2px 0 0 -85px;
    z-index: 9;
    color: #3800B0;
  }
  
  
  
  @media only screen and (max-width: 480px) {
      .otp_input_div{
        width: 280px;
        margin: 22px 32px 32px 32px;
        height: 60px;
      }
      .otp_input{
        width: 70px;
      }
      .otp_input input{
        height: 56px;
        float: left;
        font-size: 60px;
        border: none;
        background-color:#F7F8FA;
        border-radius: 8px  ;
        font-family: monospace;
      
      }
      .trash{
        font-size: 10px;
        padding: 3px;
        border-radius: 50%;
        background: #F7F8FA;
        margin: -2px 0 0 -269px;
        z-index: 9;
        color: #3800B0;
      }
      .trash2{
        font-size: 10px;
        padding: 3px;
        border-radius: 50%;
        background: #F7F8FA;
        margin: -2px 0 0 -80px;
        z-index: 9;
        color: #3800B0;
      }
    
    }